@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <div class="card-group">
        <card>
            <card-header>Featured</card-header>
            <card-block>Special title treatment</card-block>
        </card>

        <card>
            <card-block>Special title treatment</card-block>
        </card>

        <card>
            <card-header>Featured</card-header>
        </card>
    </div>

    <p>Use this area to provide additional information.</p>

    <alert message="Payment has been processed." icon="success">
    </alert>

    <alert message="Customer information has been saved." icon="info">
    </alert>

    <alert message="Your account has expired." icon="danger">
    </alert>

    <alert message="Unable to save customer info." icon="warning">
    </alert>

</div>

